# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code files (if using VSCode)
.vscode/

# PyCharm files
.idea/

# Mac OS files
.DS_Store

# Backup files
*.bak
*.swp

# Log
.log
logs/